@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
  --color-point: white;
  --color-point-hover:#FFEC8A;
  --color-point-pressed:#e6ca41;
  --color-point-active: #0059d6;
  --color-background: #7E95D5;
  --color-slider: #5E7ED5;
  --color-text: #FFEC8A;
  --color-title: #FFBA2A;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-family: 'Patrick Hand', cursive;
}

a {
  text-decoration: none;
  color: var(--color-title);
  transition: color 0.4s;
}
a:hover {
  color: var(--color-point-active);
}

body {
  background-color: var(--color-background);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vw;
  height: 10vh;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: var(--color-title);
  letter-spacing: 0.5rem;
}

main {
  display: flex;
  align-items: center;
  min-height: 80vh;
  padding: 0 2vw;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1vh 1vw;
  width: 50vw;
  height: 67vh;
  background-color: var(--color-slider);
  border: 0.5rem solid #587bdd;
  border-radius: 1rem;
  overflow: hidden;
}

.slider > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  width: 100%;
  font-size: 1.5rem;
}

.img-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 47vw;
  height: 52vh;
  overflow: hidden;
  gap: 2vw;
  border-radius: 1rem;
}

.control-panel {
  margin-left: 2vw;
  display: flex;
  gap: 0.5rem;
}

.round {
  box-sizing: content-box;
  display: block;
  background-color: var(--color-point);
  border-radius: 50%;
  border: 0.4vw solid transparent;
  margin: -0.1vw;
  background-clip: padding-box;
  width: 1vw;
  height: 1vw;
  opacity: 0.7;
  cursor: pointer;
}

.round:hover {
  opacity: 0.9;
  background-color: var(--color-point-hover);
}

.round:active {
  background-color: var(--color-point-pressed);
  opacity: 1;
}

.titles {
  height: 100%;
  gap: 5rem;
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mem-titles {
  height: 3em;
  opacity: 0;
  word-break:keep-all;
  transition: all 1s;
  color: var(--color-text);
}

.slides {
  transition: all 1s;
}

.slides img {
  width: 47vw;
  height: 50vh;
  border-radius: 1rem;
}

input[type='radio'] {
  display: none;
}

#radio1:checked ~ .img-wrapper .slide1 {
  margin-left: 0vw;
}
#radio2:checked ~ .img-wrapper .slide1 {
  margin-left: -49vw;
}
#radio3:checked ~ .img-wrapper .slide1 {
  margin-left: -98vw;
}
#radio4:checked ~ .img-wrapper .slide1 {
  margin-left: -147vw;
}

#radio1:checked ~ .container .mem-title1 {
  opacity: 1;
}
#radio2:checked ~ .container .mem-title2 {
  opacity: 1;
  margin-top: -7rem;
}
#radio3:checked ~ .container .mem-title3 {
  opacity: 1;
  margin-top: -14rem;
}
#radio4:checked ~ .container .mem-title4 {
  opacity: 1;
  margin-top: -28.5rem;
}
#radio1:checked ~ .container .control-panel .label1, #radio2:checked ~ .container .control-panel .label2,
#radio3:checked ~ .container .control-panel .label3, #radio4:checked ~ .container .control-panel .label4 {
  opacity: 1;
  background-color: var(--color-point-active);
}

footer {
  display: flex;
  align-items: center;
  padding: 0 2vw;
  height: 10vh;
  font-size: 1.5rem;
  color: var(--color-text);
}

@media (max-width: 768px) {
  .slider {
    width: 67vw;
    height: 47vh;
  }

  .titles {
    width: 52vw;
    margin-top: 2vh;
    order: 2;
  }

  .slider > .container {
    flex-direction: column;
    font-size: 1rem;
  }

  .img-wrapper {
    width: 52vw;
    height: 30vh;
  }
  .slides img {
    width: 52vw;
    height: 28vh;
  }

  .control-panel {
    gap: 1rem;
  }

  .round {
    width: 3vw;
    height: 3vw;
    border: 0.8vw solid transparent;
    margin: -0.2vw;
  }

  #radio1:checked ~ .img-wrapper .slide1 {
    margin-left: 0vw;
  }
  #radio2:checked ~ .img-wrapper .slide1 {
    margin-left: -54vw;
  }
  #radio3:checked ~ .img-wrapper .slide1 {
    margin-left: -108vw;
  }
  #radio4:checked ~ .img-wrapper .slide1 {
    margin-left: -162vw;
  }

  #radio1:checked ~ .container .mem-title1 {
    opacity: 1;
  }
  #radio2:checked ~ .container .mem-title2 {
    opacity: 1;
    margin-top: -6.5rem;
  }
  #radio3:checked ~ .container .mem-title3 {
    opacity: 1;
    margin-top: -13rem;
  }
  #radio4:checked ~ .container .mem-title4 {
    opacity: 1;
    margin-top: -22rem;
  }
}

@media (max-width: 600px) {
  .slider {
    height: 45vh;
  }
  .slider > .container {
    height: 9vh;
  }
  .titles {
    margin-top: 1vh;
  }
}

@media (max-width: 480px) {
  .slider {
    width: 85vw;
    height: 45vh;
  }

  .titles {
    width: 75vw;
  }

  .round {
    border: 2vw solid transparent;
    margin: -1.2vw;
  }

  .slides img {
    height: 31vh;
    width: 75vw;
  }
  .img-wrapper {
    height: 31vh;
    width: 75vw;
  }

  #radio1:checked ~ .img-wrapper .slide1 {
    margin-left: 0vw;
  }
  #radio2:checked ~ .img-wrapper .slide1 {
    margin-left: -77vw;
  }
  #radio3:checked ~ .img-wrapper .slide1 {
    margin-left: -154vw;
  }
  #radio4:checked ~ .img-wrapper .slide1 {
    margin-left: -231vw;
  }
  footer {
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .slider {
    height: 40vh;
  }

  .round {
    width: 4vw;
    height: 4vw;
  }

  .img-wrapper {
    border-radius: 0.75rem;
    height: 26vh;
  }

  .slides img {
    border-radius: 0.75rem;
    height: 25vh;
  }
}